<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">

    <bean id="lexeme" class="net.lizhaoweb.spring.wordsegmenter.model.Lexeme"/>
    <bean id="lexemePath" class="net.lizhaoweb.spring.wordsegmenter.model.LexemePath"/>
    <bean id="quickSortSet" class="net.lizhaoweb.spring.wordsegmenter.model.QuickSortSet"/>
    <bean id="quickSortSetLinkedCell" scope="prototype"
          class="net.lizhaoweb.spring.wordsegmenter.model.QuickSortSetLinkedCell"/>

    <bean id="hit" class="net.lizhaoweb.spring.wordsegmenter.dictionary.Hit"/>
    <bean id="dictSegment" class="net.lizhaoweb.spring.wordsegmenter.dictionary.DictSegment"/>

</beans>