<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">


    <bean class="net.lizhaoweb.spring.mvc.uas.listener.InitListener">
        <property name="accountService" ref="uas.service.accountService"/>
        <property name="authorizationService" ref="uas.service.authorizationService"/>
        <property name="roleService" ref="uas.service.roleService"/>
        <property name="roleAuthRelationService" ref="uas.service.roleAuthRelationService"/>
    </bean>

</beans>